# Dependencies
node_modules/
.pnp/
vendor/
__pycache__/
.venv/
venv/

# Builds / output
dist/
build/
out/
*.egg-info/
target/
manifest.json

# .NET
bin/
obj/
artifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
*.pubxml
*.pubxml.user

# Env & secrets
.env
.env.*
!.env.example

# Logs / DBs
*.log
*.sqlite
*.sqlite3
*.db

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
